Package: tvdiary
Priority: optional
Section: misc
Version: 0.0.2-6
Architecture: mipsel
Maintainer: martxw
Depends: webif (>= 1.0.9)
Description: An add-on to the web interface that tracks the TV programmes you record and watch, presenting them in a diary view.
