/*
 * TV Diary main display page styles.
 * Author: Martin Wink, 2013.
 */

#recorded_outer, #watched_outer {
  width: 51em;
  margin: 0 1em 1em 0;
}

#datepicker {
  float: left;
  margin: 0 1em 1em 0;
}

#recorded_outer, #watched_outer {
  float: left;
}

.table_wrapper {
  float: left;
}

.outer_hdr {
  display: block;
  margin: .2em .2em .2em .2em;
  padding: .2em .2em .2em .2em;
  line-height: 1.8em;
  text-align: center;
}

.tvdiary_table {
  line-height: 1.1em;
}

.time_range_value {
  white-space: nowrap;
}

.time_range_duration {
  white-space: nowrap;
  margin: 0 0 0 0.5em;
  padding: 0.75em 0.25em 0.75em 1em;
  border-left: thin solid #000000;
  vertical-align: middle;
  text-align: right;
}
      
.tvchannel {
  text-align:center;
  vertical-align: middle;
  white-space: nowrap;
}

.tvtitle {
  display: block;
  text-align:left;
  font-weight:bold;
  white-space: nowrap;
}

.tvsynopsis {
  display: block;
  text-align:left;
}

.tvschedule {
  display: block;
  text-align:right;
  font-size:90%;
  white-space: nowrap;
}

.future_event {
  font-style: italic;
}

.future_event.time_range_duration {
  border-left: thin dashed #000000;
}

.total_duration {
  display: block;
  font-weight:bold;
  text-align: center;
}

#recorded_spinner, #watched_spinner {
  text-align: center;
}

.nothing {
  display: block;
  font-style:italic;
  text-align: center;
}

/* Temporary styling for active recording, playing or watching. */
tr[tvdiary_type="R"][tvdiary_active="1"] .time_range_value + .time_range_duration {
  border-left: thin solid #a00000;
  color: #a00000;
}
tr[tvdiary_type="R"][tvdiary_active="1"] .time_range_duration + .time_range_value {
  color: #a00000;
  //font-weight:bold;
}
tr[tvdiary_type="R"][tvdiary_active="1"] .time_range_duration + .time_range_value:after {
  content: "\00A0\25CF";
  color: #ff0000;
  font-size: 150%;
}

tr[tvdiary_type="P"][tvdiary_active="1"] .time_range_value + .time_range_duration {
  border-left: thin solid #005000;
  color: #005000;
}
tr[tvdiary_type="P"][tvdiary_active="1"] .time_range_duration + .time_range_value {
  color: #005000;
  //font-weight:bold;
}
tr[tvdiary_type="P"][tvdiary_active="1"] .time_range_duration + .time_range_value:after {
  content: "\00A0\25B6";
  color: #00cc00;
  font-size: 150%;
}

tr[tvdiary_type="L"][tvdiary_active="1"] .time_range_value + .time_range_duration {
  border-left: thin solid #005000;
  color: #005000;
}
tr[tvdiary_type="L"][tvdiary_active="1"] .time_range_duration + .time_range_value {
  color: #005000;
  //font-weight:bold;
}
tr[tvdiary_type="L"][tvdiary_active="1"] .time_range_duration + .time_range_value:after {
  content: "\00A0\25B6";
  color: #C8A2C8;
  font-size: 150%;
}

/* Live broadcast shown lilac. */
/*
tr[tvdiary_type="L"] .tvchannel {
  color: #040000;
  background: #C8A2C8;
}
*/
