#recorded_outer, #watched_outer {
  width: 51em;
  margin: 0 1em 1em 0;
}

#datepicker {
  float: left;
  margin: 0 1em 1em 0;
}

#recorded_outer, #watched_outer {
  float: left;
}

.table_wrapper {
  float: left;
}

.outer_hdr {
  display: block;
  margin: .2em .2em .2em .2em;
  padding: .2em .2em .2em .2em;
  line-height: 1.8em;
  text-align: center;
}

.tvdiary_table
{
  line-height: 1.1em;
}

.time_range
{
  display: inline;
  white-space: nowrap;
}

.time_duration
{
  display: block;
  white-space: nowrap;
}

.tvchannel
{
  display: block;
  text-align:center;
  white-space: nowrap;
}

.tvtitle
{
  display: block;
  text-align:left;
  font-weight:bold;
  white-space: nowrap;
}

.tvsynopsis
{
  display: block;
  text-align:left;
}

.tvschedule
{
  display: block;
  text-align:right;
  font-size:90%;
  white-space: nowrap;
}

.total_duration
{
  display: block;
  font-weight:bold;
  text-align: center;
}

#recorded_spinner, #watched_spinner {
  text-align: center;
}

.nothing
{
  display: block;
  font-style:italic;
  text-align: center;
}
