/*
 * TV Diary main display page styles.
 * Author: Martin Wink, 2013.
 */

#recorded_outer, #watched_outer {
  width: 51em;
  margin: 0 1em 1em 0;
}

#datepicker {
  float: left;
  margin: 0 1em 1em 0;
}

#recorded_outer, #watched_outer {
  float: left;
}

.table_wrapper {
  float: left;
}

.outer_hdr {
  display: block;
  margin: .2em .2em .2em .2em;
  padding: .2em .2em .2em .2em;
  line-height: 1.8em;
  text-align: center;
}

.events_table {
  line-height: 1.1em;
}

.event_start, event_end  {
  white-space: nowrap;
}

.event_duration {
  white-space: nowrap;
  margin: 0 0 0 0.5em;
  padding: 0.75em 0.25em 0.75em 1em;
  border-left: thin solid #000000;
  vertical-align: middle;
  text-align: right;
}
      
.tvchannel {
  text-align:center;
  vertical-align: middle;
  white-space: nowrap;
}

.tvtitle {
  display: block;
  text-align:left;
  font-weight:bold;
  white-space: nowrap;
}

.tvsynopsis {
  display: block;
  text-align:left;
}

.tvschedule {
  display: block;
  text-align:right;
  font-size:90%;
  white-space: nowrap;
}

tr.future_event {
  font-style: italic;
}

tr.future_event div.event_duration {
  border-left: thin dashed #000000;
}

.total_duration {
  display: block;
  font-weight:bold;
  text-align: center;
}

#recorded_spinner, #watched_spinner {
  text-align: center;
}

.nothing {
  display: block;
  font-style:italic;
  text-align: center;
}

/* Active recording, playing or watching. */
tr.record_event.active_event div.event_duration {
  border-left: thin solid #a00000;
  color: #a00000;
}
tr.record_event.active_event div.event_end {
  color: #a00000;
}
tr.record_event.active_event div.event_end:after {
  content: "\00A0\25CF";
  color: #ff0000;
  font-size: 150%;
}

tr.play_event.active_event div.event_duration {
  border-left: thin solid #005000;
  color: #005000;
}
tr.play_event.active_event div.event_end {
  color: #005000;
}
tr.play_event.active_event div.event_end:after {
  content: "\00A0\25B6";
  color: #00cc00;
  font-size: 150%;
}

tr.live_event.active_event div.event_duration {
  border-left: thin solid #005000;
  color: #005000;
}
tr.live_event.active_event div.event_end {
  color: #005000;
}
tr.live_event.active_event div.event_end:after {
  content: "\00A0\25B6";
  color: #C8A2C8;
  font-size: 150%;
}

/* Separator between recorded & future events */
tr.record_event + tr.future_event td {
  border-collapse: collapse;
  border-top: thin dashed #000000;
}

/* Live broadcast shown lilac. */
tr.live_event td.tvchannel div {
  color: #000000;
  background: #d6b2d6;
}

tr.hidden_event {
  display: none;
}
