Package: tvdiary
Priority: optional
Section: misc
Version: 0.0.1-4
Architecture: mipsel
Maintainer: martxw
Depends: webif (>= 1.0.7-7)
Description: tvdiary is an add-on to the web interface. It tracks the TV programs you record and watch, and presents a diary view through the web interface.
