/*
 * TV Diary main display page styles.
 * Author: Martin Wink, 2013.
 */

/* Keep tables & fields together */
.table_wrapper {
  float: left;
}

/* Size tables, and keep them apart in different orientations */
#recorded_outer, #watched_outer {
  width: 51em;
  float: left;
  margin: 0 1em 1em 0;
}

/* The controls */
#controls_panel {
  margin: 0 1em 1em 0;
}

/* Space from other fields below */
#datepicker {
  margin: 0 0 0.3em 0;
}

/* The prev/today/next buttons and their table */
#next_prev_table {
  width:100%;
  margin: 0 1em 0.3em 0;
}
#prev_day, #today, #next_day {
  width:100%;
}

/* Prompt - as th.key but no background */
td.prompt
{
  font-weight: bold;
  text-align: right;
  color: black;
  padding: 0.5em;
}

/* The header above the tables, sized to match the datepicker */
.outer_hdr {
  display: block;
  margin: .2em .2em .2em .2em;
  padding: .2em .2em .2em .2em;
  line-height: 1.8em;
  text-align: center;
}

/* Space all text in the whole table */
.events_table {
  line-height: 1.1em;
}

/* Don't wrap any of the times */
.event_start, .event_end, .event_duration {
  white-space: nowrap;
}

/* The duration provides the height for the vertical line drawn as its left border */
.event_duration {
  margin: 0 0 0 0.5em;
  padding: 0.75em 0.25em 0.75em 1em;
  border-left: thin solid #000000;
  vertical-align: middle;
  text-align: right;
}

/* The TV channel name and icon centred */    
.tvchannel {
  text-align:center;
  vertical-align: middle;
  white-space: nowrap;
}

/* The TV programme title text */
.tvtitle {
  display: block;
  white-space: nowrap;
  text-align:left;
  font-weight:bold;
}

/* The large block of synopsis text */
.tvsynopsis {
  display: block;
  text-align:left;
}

/* The full date and time text */
.tvschedule {
  display: block;
  white-space: nowrap;
  text-align:right;
  font-size:90%;
}

/* All to be recorded text */
tr.future_event {
  font-style: italic;
}

/* To be recorded dashed vertical line */
tr.future_event div.event_duration {
  border-left: thin dashed #000000;
}

/* The separator between recorded & future events */
tr.record_event + tr.future_event td {
  border-collapse: collapse;
  border-top: thin dashed #000000;
}

/* Progress indicators centred */
#recorded_spinner, #watched_spinner {
  text-align: center;
}

/* When no results to be shown */
.nothing {
  display: block;
  font-style:italic;
  text-align: center;
}

/* Show when recording is active. As future_event except the in_progress elements. */
tr.record_event.active_event div.event_duration {
  border-left: thin dashed #000000;
  padding: 0.0em 0.25em 0.0em 1em;
  line-height: 0.75em;
}
tr.record_event.active_event div.event_duration.in_progress {
  border-left: thin solid #a00000;
  padding: 0.1em 0.25em 0.1em 1em;
  line-height: 1.1em;
  color: #a00000;
}
tr.record_event.active_event div.event_end {
  font-style:italic;
}
tr.record_event.active_event div.event_end.in_progress {
  color: #a00000;
  font-style: normal;
}
tr.record_event.active_event div.event_end.in_progress:after {
  content: "\00A0\25CF";
  color: #ff0000;
  font-size: 150%;
}

/* Show when playing media and watching live */
tr.play_event.active_event div.event_duration, tr.live_event.active_event div.event_duration {
  border-left: thin solid #005000;
  color: #005000;
}
tr.play_event.active_event div.event_end, tr.live_event.active_event div.event_end {
  color: #005000;
}
tr.play_event.active_event div.event_end:after, tr.live_event.active_event div.event_end:after {
  content: "\00A0\25B6";
  color: #00cc00;
  font-size: 150%;
}

/* For hiding live events */
tr.hidden_event {
  display: none;
}

/* Live TV count is clickable */
span.live_count {
  cursor: pointer;
}

/* Live TV count - when not shown. */
span.live_count_hidden {
  color: #5e5e5e;
  text-decoration: line-through;
}

/* Live broadcast icon. */
tr.live_event td.event_time:before {
  content: url('tvmast.png');
  float: right;
}

/* Override as default blocks too much */
#toTop {
  bottom: 0px;
  margin-left: 0px;
  right: 0;
}
